.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.05);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 80%;
}
.gallery li {
  flex-basis: calc((100% - 48px) / 3);
}

body .sl-overlay {
  background: #2e2f42;
}
